
<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="media/style.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <title>Moback Technologies India Private Ltd</title>
   </head>
   <body>
   		
	   <h1><div class ='logo'>
        <img src = 'media/logo.png'/>
      </div>  
Moback Technologies India Private Ltd

<a href="">Back</a>
</h1>	
	   
      
       <div class="search-box">

          <form action="." method="POST">
              {% csrf_token %}
              <input type="text" name='input' class="search-txt" placeholder="Type to search"/>
       		<button type="submit">
       	   	<i class="fas fa-search"></i>
       		</button>
         </form>

       </div>
       
   </body>
</html>