
<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
     <input type="text" name="" class="search-txt" placeholder="Type to search"/>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <title>Moback Technologies India Private Ltd</title>
   </head>
   <body>
   		
	   <h1>Moback Technologies India Private Ltd</h1>	
	   <div class ='logo'>
	   		<img src = '/logo.png'/>
	   	</div>	


       <div class="search-box">
       		<input type="text" name="" class="search-txt" placeholder="Type to search"/>
       		<a class="searchbtn" onclick="location.href='{% url 'script' % } '">
       		<i class="fas fa-search"></i>
       		</a>
       </div>
       




       <center>
       <table>
       		<tr>
       			<th>
       				Company Name
       			</th>
       			<th>
       				Carrier page
       			</th>
       		</tr>
       		<tr>
       			<td>
       				{vs}
       			</td>
       			<td>
       				{vs}
       			</td>
       		</tr>

       </table>
   </body>
</html>